{% extends "cpm/base.html" %}
{% load cms_tags sekizai_tags i18n markup %}

{% block after_body %}
{% cms_toolbar %}
{% endblock %}

{% block content %}
<div class="container-fluid" id="text">
    <div class="container light">
        <p>{% trans "If you have any questions, please feel free to contact us via e-mail. You can also get in touch with any of our coordinators directly." %}
        <h4>{% trans "Festival e-mail" %}: <a href="mailto:info@filmfest.by"><strong>info@filmfest.by</strong></a></h4>
        <h4>{% trans "Festival coordinators" %}</h4>
        <div class="row-fluid">
            {% placeholder contacts %}
        </div>
    </div>
</div>
{% endblock %}
