{% extends "cpm/page.html" %}
{% load markup %}
{% load i18n %}

{% block main_content %}

<h2>
  {{ event.name }}<br />
  <small>{{ event.starts_at|date:"j E, H:i" }} - {{ event.place.name }}, {{ event.place.address }}</small>
</h2>

{% if event.description.strip %}
  {{ event.description|markdown }}
{% else %}
  {% if event.program.translation.description.strip %}
    <p>{{ event.program.translation.description }}</p>
  {% endif %}
{% endif %}

{% if screenings %}
<table class="results table table-bordered table-condensed table-hover table-striped">
    <tbody>
    {% for screening in screenings %}
    {# we've got lots of sql queries due to .translation, but who cares #}
    <tr>
        <td>
            <div class="film_screenshot" >
                <img class="film_still img-rounded img-polaroid" src="/media/screenshots/{{screening.submission.id}}.jpg" alt=""/>
            </div>
        </td>
        <td>
            <span class="film_title">{{ screening.submission.translation.title|default:screening.submission.title }}</span> / <span class="film_director">{{ screening.submission.translation.director|default:screening.submission.director }}</span> ( <span class="film_country">{{ screening.submission.get_country_display }}</span>, <span class="film_duration">{{ screening.submission.length }}</span> min)
            <br/>
            <br/>

            <p class="fil_description">
                {{ screening.submission.translation.synopsis_short|default:screening.submission.synopsis|linebreaksbr }}
            </p>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
