recursive-include apps/cpm2012/locale *
recursive-include apps/cpm2012/static *
recursive-include apps/cpm2012/templates *
recursive-include apps/cpm2013/locale *
recursive-include apps/cpm2013/static *
recursive-include apps/cpm2013/templates *
recursive-include apps/cpm2014/static *
recursive-include apps/cpm2014/templates *
recursive-include apps/cpm_common/locale *
recursive-include apps/cpm_common/static *
recursive-include apps/cpm_common/templates *
recursive-include cpm/locale *
recursive-include cpm/static *
recursive-include cpm/templates *
recursive-include locale *
