<div class="nav-collapse">
  <ul class="nav">
    {% for title, url, active in mainmenu_items %}
    <li {% if active %}class="active"{% endif %}>
      <a href="{{ url }}">{{ title }}</a>
    </li>
    {% endfor %}
  </ul>
  <ul class="nav pull-right">
    <li class="dropdown">
      {% for lang_code, lang, url in languages %}
        {% if forloop.first %}
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ lang }} <b class="caret"></b></a>
	  <ul class="dropdown-menu">
	{% else %}
            <li><a href="{{ url }}">{{ lang }}</a></li>
	    {% if forloop.last %}
	      </ul>
	    {% endif %}
	{% endif %}
      {% endfor %}
    </li>
  </ul>
</div>
