{% extends "cpm/page.html" %}
{% load i18n %}
{% load cpm_tags %}

{% block title %}{% trans "Partners" %} - {{ block.super }}{% endblock %}

{% block main_content %}
<h3>{% trans "Partners" %}</h3>
<p>{% trans "<em>Cinema Perpetuum Mobile</em> is a non-profit, independent project which keeps on expenses and aspirations of the organizers. At the same time international nature of the event, cultural resonance provides fertile ground for collaboration with business and public organizations." %}</p>

{% banners_list banners_info %}

<h3>{% trans "Venues" %}</h3>

{% banners_list banners_places %}

<h3>{% trans "Festivals" %}</h3>

{% banners_list banners_fests %}

{% endblock %}
