{% extends "cpm2013/base.html" %}

{% block content %}
<form id="submission-form" class="form-horizontal" method="POST">
{% csrf_token %}

{% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
{% for fieldset in form.fieldsets %}
  <fieldset class="{{ fieldset.classes }}">
  {% if fieldset.legend %}
    <legend>{{ fieldset.legend }}</legend>
  {% endif %}
  {% for field in fieldset %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      <div class="control-group {% if field.errors %}error{% endif %}">
        {{ field.label_tag }}
	<div class="controls">
          {{ field }}
	  <span class="help-inline">{{ field.errors.as_inline }}</span>
	</div>
      </div>
    {% endif %}
  {% endfor %}
  </fieldset>
{% endfor %}

<div class="form-actions">
<button class="btn btn-primary" type="submit">Submit</button>
</div>

</form>
{% endblock %}
