{% extends "cpm/page.html" %}
{% load i18n %}

{% block title %}{% trans "Press kit" %} - {{ block.super }}{% endblock %}

{% block main_content %}
<h3 xmlns="http://www.w3.org/1999/html">О фестивале</h3>

Ежегодный международный фестиваль короткометражных фильмов Cinema Perpetuum Mobile ─ некоммерческое культурное мероприятие, которое нацелено на:
<ul>
  <li>продвижение независимого авторского кинематографа;</li>
  <li>поиск новых форм и решений в киноискусстве;</li>
  <li>содействие культурному разнообразию в кино;</li>
  <li>развитие и укрепление связей между кинематографистами и кинематографическими сообществами по всему миру.</li>
</ul>

Cinema Perpetuum Mobile – социальный проект, который создается людьми на принципах самоорганизации, взаимопомощи, открытости, прозрачности и децентрализации. Это означает, что любой человек может принять участие в общем деле по организации фестиваля и наблюдать, как это делают другие. (главная страница сайта <a href="http://filmfest.by/2014/">filmfest.by/2014/</a>)

<h3>Статистика</h3>

<ul>
  <li>В 2013 году было прислано 328 заявок из 40 стран мира.</li>
  <li>В организации фестиваля принимало участие до 120 волонтеров.</li>
  <li>Координация ведется через список рассылок, еженедельно проводились теплицы фестиваля, где волонтеры встречаются и обсуждают текущие дела фестиваля. В команде фестиваля принимают участие как студенты, так и юристы, программисты, дизайнеры, филологи, переводчики, журналисты, инженеры.</li>
  <li>Отбор в конкурсную программу проходил также с участием волонтеров: были организованы 6 предпросмотров, продолжительностью от 8 до 11 часов, на протяжении которых кинолюбители ставили оценки лучшим работам.</li>
  <li>В предпросмотрах приняли участие более 70 волонтеров.</li>
  <li>Фестиваль пройдёт не только в Минске, но и одновременно в других областных центрах и крупных городах Беларуси: Бресте, Витебске, Гомеле, Гродно, Лиде, Мозыре, Новополоцке, Солигорске</li>
  <li>Мексике (Мехико), Великобритании (Лондон), Португалии (Порту), Швейцарии (Женева), Италии (Болонья), Автрии (Иннсбрук), Чехии (Прага), Словакии (Прешов, Станица), Украине (Луганск), Молдове (Кишинев), России (Москва, Тверь, Иркутск), Китае (Дали), Корее (Сеул), Малайзии (Джоржтаун).</li>
</ul>

<h3>Жюри 2013</h3>

В жюри СПМ2013 согласились участвовать:
<ul>
  <li>Кори Маккеби</li>
  <li>Джон Рубин</li>
  <li>Юрий Игруша</li>
  <li>Богдана Смирнова</li>
  <li>Сергей Красиков</li>
  <li>Павел Иванов</li>
  <li>Пьер-Люк Вайянкур</li>
  <li>Карстен Вебер</li>
  <li>Мартина Сташ</li>
  <li>Антон Сидоренко</li>
  <li>Ольга Дашук </li>
    <li>Ирина Демьянова</li>
    <li>Ли Санг Ву </li>
</ul>

<h3>Пресс-релизы</h3>
<ul>
  <li><a href="http://filmfest.by/2013/page/press_release_2012_10_15">Первый пресс релиз</a></li>
  <li><a href="https://docs.google.com/document/d/1nI0N-N9Wupkd-_pF6ig_64CuqZMtdXzD7Msm7q92Wy0/edit">Пресс релиз перед показами фестиваля</a></li>
</ul>

<h3>Фото</h3>
<a href="https://www.dropbox.com/sh/mlmch9lviao00rt/3O1Y4IuEx2/photo/cpm2012">https://www.dropbox.com/sh/mlmch9lviao00rt/3O1Y4IuEx2/photo/cpm2012</a>

<h3>Видео</h3>

<dl>
  <dt>Репортажи</dt>
  <dd><a href="http://www.youtube.com/watch?v=QG-syBkCB1w">http://www.youtube.com/watch?v=QG-syBkCB1w</a></dd>
  <dd><a href="http://n-europe.eu/video/cinema_perpetuum_mobile_v_minske">http://n-europe.eu/video/cinema_perpetuum_mobile_v_minske</a></dd>
  <dd><a href="https://vk.com/videos-29200596">3 репортажа про фестиваль 2012</a> </dd>
  <dt>Промо-ролики</dt>
  <dd><a href="http://vimeo.com/29179583">http://vimeo.com/29179583</a></dd>
  <dt>Другие</dt>
  <dd><a href="http://www.youtube.com/watch?v=zHAG3ghy5CE&list=UUXNEIGZsr6PPu6nBTL0bVdA&index=4&feature=plcp">открытие фестиваля</a></dd>
  <dd><a href="http://www.youtube.com/watch?v=4GpEAEIDZ20&feature=youtu.be">команда фестиваля</a></dd>
</dl>

<h3>Статьи</h3>
<ul>
  <li><a href="http://www.relax.by/cinema_perpetuum_mobile/">relax.by/cinema_perpetuum_mobile</a></li>
  <li>Раздел на сайте со статьями про фестиваль 2012 года: <a href="http://filmfest.by/2013/page/media">filmfest.by/2013/page/media</a></li>
</ul>
{% endblock %}
