body {
    background-color: #292929;
    margin: 20px 20px 0 20px;
}
a, a:hover, a:visited {
    color: #CC393A;
}
.container {
    position: relative;
}
#header-container {
    height: 170px;
}
#content-container {
    background: #FFFFFF;
    padding: 10px;
}
.subnav {
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
}
.navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #EEEEEE;
}
.navbar .nav li.dropdown.active > .dropdown-toggle:hover {
    color: #333333;
}
.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
    border-bottom-color: #000000;
    border-top-color: #000000;
}
#current-lang {
    color: #000000;
    display: block;;
    line-height: 19px;
    padding: 9px 10px 11px;
}
.nav > li > a.other-lang {
    color: #777777;
}
/* header */
#header-call {
    display: block;
    float: right;
    padding: 0px;
    margin: 40px 0 0 0;
    font-size: 32px;
    line-height: 32px;
    text-align: right;
}
#header-call #line1 {
    font-size: 41px;
    line-height: 35px;
}
#header-call #line2 {
    font-size: 48px;
    line-height: 40px;
}
a#header-call, a#header-call:hover, a#header-call:visited {
    color: #FFFFFF;
    text-decoration: none;
}
a#header-call:hover {
    color: #CC393A;
}
/* end header */

/* footer */
.footer {
  padding: 20px 0 10px 0;
  margin: 20px auto 0 auto;
  border-top: 1px solid #e5e5e5;
  background-color: #FFFFFF;
  width: 960px;
}

.footer-menu a {
    text-decoration: underline;
}
.footer-links {
  display: inline;
  margin-left: 5px;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}

/* end footer */

#submission-form input, #submission-form select, #submission-form textarea {
    width: 500px;
}
#submission-form label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}

#index-about {
    padding: 19px;
    font-size: large;
    line-height: 22px;
    text-align: justify;
}
#rules-lang-list {
    margin: auto;
    list-style-type: none;
}
#rules-lang-list li {
    float: left;
    margin: 10px;
}
#schedule {
    padding: 19px;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
}
#schedule ul{
    list-style-type: none;
}
#schedule .time {
    line-height: 44px;
    font-size: 36px;
    float: left;
    margin-right: 20px;
}
#schedule .subprogram {
    float: left;
    width: 280px;
    text-align: left;
}
#schedule .program {
    padding-top: 4px;
}
#schedule .place {
    font-size: small;
}


/********************CPM2013**************************/
.cpm2013 .nav.pull-right a {
    /*padding: 5px 10px;*/
}
/* styles for new menu */

#current-lang {
    color: #000000;
    display: block;;
    line-height: 19px;
    padding: 9px 10px 11px;
}
.nav > li > a.other-lang {
    color: #777777;
}


.navbar .nav li>a {
    padding: 9px 10px 11px;
}

.navbar .nav.pull-right.lang-list {
    margin-left: 15px;
}
.navbar .nav.lang-list > li > .lang-item {
    color: #ccc;
    padding: 9px 10px 11px;
}
.navbar .nav.lang-list > li > .lang-item.lang-item__current {
    color: #fff;
}

#header {
    text-align: right;
}
.logo {
    height: 120px;
}
.logo img {
    display: block;
    margin: auto;
    vertical-align: middle;
    height: 100%;
}
.year span {
    text-align: center;
    color: #FFFFFF;
}
h1 #CinemaPerpetuumMobile span {
    display: block;
}

.underborder {
    /*border-bottom: 1px solid #AAAAAA;*/
}
.facts {
    position: relative;
    background: #ffffff;
    /*left: 100px;*/
    width: 200px;
}

.fact {
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    padding: 15px 0;
    text-align: center;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #AAAAAA;
}
.fact strong {
    display: block;
    font-size: 75px;
    line-height: 75px;
}

.results td {
    vertical-align: middle;
    text-align: center;
}

.film_prize, .film_title {
    font-weight: bold;
}

.film_prize {
    vertical-align: baseline;
    text-align: center;
}

.film_still {
    min-width: 240px;
    min-height: 160px;
    max-width: 320px;
    max-height: 240px;
}

.jury_member {
    position: relative;
}
.film_director {
    font-style: italic;
}

.jury_photo {
    display: block;
    width: 300px;
    height: 300px;
}
.name_wrp {
    margin: 0px;
    position: absolute;
    bottom: 0px;
    /*top: 0px;*/
    right: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    max-height: 60px;
}
.jury_name {
    margin: 0px;
}

.jury_member .jury_details {
    width: 860px;
    margin-left: -420px;
}

.jury_name-details {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 20px;
}ul.jury {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.jury_member {
    position: relative;
}

.jury_photo {
    display: block;
    width: 300px;
    height: 300px;
    -webkit-filter: grayscale(90%);
    -webkit-transition : -webkit-filter 300ms linear;
    opacity: 0.6;
    transition: opacity 300ms linear;

}
.jury_photo:hover {
    -webkit-filter: grayscale(0%);
    opacity: 1;
}
.name_wrp {
    margin: 0px;
    position: absolute;
    bottom: 0px;
    /*top: 0px;*/
    right: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    max-height: 75px;
}
.jury_name {
    margin: 0px;
}

.jury_member .jury_details {
    width: 860px;
    margin-left: -420px;
}

.jury_name-details {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 20px;
}